.follow-us-section {
  background-color: white;
}
.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.follow-us-icon-container {
  background-color: #faf7e8;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}
.icon {
  color: #d0b200;
  font-size: 35px;
}
.footer-section {
  background-color: #0d2436;
}
.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}
